/*
Primary: #EFF5F5
Secundary: #D6E4E5
Light: #497174
info: #EB6440
*/

.text_light{
    color:  #497174;
}
.bg-primary{
    background-color:#16545f ;
}
.text-secundary{
    color: #411010
}
.text-center{
    text-align:  center;
}
.width-100{
    width: 100px;
}
.bg-info{
    background-color: chocolate;
}
.text-primary{
    color:darkolivegreen;
}
.text-white{
    color: wheat;
}

